html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  min-width: 1080px;
}
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)!important;
}
.el-table {
  margin-top: 20px;
}
.el-pagination {
  margin-top: 20px;
}
.rolesList {
  margin-top: 20px;
}
.el-tag {
  margin: 5px;
}
.row-head {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.row-body {
  border-bottom: 1px solid #000;
}
.el-cascader-panel {
  height: 204px;
}
.ql-editor {
  min-height: 400px;
}